@{
    ViewData["Title"] = "Login Page";
}
<form style="margin-left:500px; margin-top:40px;" action="/Home/LogIn" method="post">
<label class="form-label" for="username">Kullanıcı Adınızı Giriniz</label>
<input style="width:230px; margin-bottom:20px;" class="form-control" type=text id="username" name="username" placeholder="Kullanıcı Adınızı Giriniz">
<label class="form-label" for="password">Şifrenizi Giriniz</label>
<input style="width:230px; margin-bottom:20px;" class="form-control" type=text id="password" name="password" placeholder="Şifrenizi Giriniz">

<input style="margin-left:140px" class="btn btn-success" type=submit id="submit" name="submit" value="Giriş Yap">
</form>



